.intro {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url("./bg.jpg") center center no-repeat;
}

.buttons {
  border: 1px solid black;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: black;
  margin: 0.5rem;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s all ease;
}

.buttons:hover {
  background-color: black;
  color: #eee;
  transition: 0.5s all ease;
  transform: translateY(-0.2rem);
}

@media screen and (max-width: 924px) {
  .desc h2 {
    font-size: 3rem;
  }
  .buttons button {
    font-size: 1.5rem;
  }
}
